*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Century Gothic;
  background-color:rgb(221, 212, 253);
  -webkit-text-size-adjust: 100%;
  position: relative;
  overflow-x: hidden;
}
  
.logoo{
  border-radius: 6px 6px;
}

.titulo{
  font-size: 40px;
  color: #222222;
}

form {
    width: 100%;
    max-width: 820px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    border-radius: 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  form input {
    height: 30px;
    margin: 0.1rem;
  }
  

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 5px;
  padding: 1rem;
    width:50%;
    margin-left:25%;
    margin-right:-50%;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

textarea{
    width: 800px;
    height: 50px;
}


